/* occupationalHealthCenter.css */

.occupationalHealthCenter {
    margin-top: 200px;
    padding: 20px;
    background-size: cover;
    position: relative;
    background-color: #f9f9f9;
}

.occupationalHealthCenter::before {
    content: "";
    /* background: rgba(255, 255, 255, 0.5); */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* width: 100%;
    height: 100%;
    z-index: -1; */
}

.occupationalHealthCenter .occupationalHealthCenter-image {
    position: relative;
    transition: 0.5s;
    /* margin-bottom: 20px; */
}

.occupationalHealthCenter .occupationalHealthCenter-image img {
    max-width: 100%;
    height: auto;
    border: 4px solid #000;
    position: relative;
}

.occupationalHealthCenter .occupationalHealthCenter-image::before {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    z-index: 1;
    content: "";
    border-radius: 5px;
    border-left: 5px solid #007bff;
    border-top: 5px solid #007bff;
    transition: 0.5s;
}

.occupationalHealthCenter .occupationalHealthCenter-image:hover {
    transform: scale(1.1);
}

.occupationalHealthCenter .content {
    position: relative;
    z-index: 1;
}

.occupationalHealthCenter .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.occupationalHealthCenter .content ul {
    list-style: none;
    padding: 0;
}

.occupationalHealthCenter .content ul li {
    font-size: 20px;
    padding-right: 4px;
    color: #007bff;
}

.occupationalHealthCenter h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.occupationalHealthCenter p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}

.occupationalHealthCenter a {
    color: #007bff;
    text-decoration: none;
}

.occupationalHealthCenter a:hover {
    text-decoration: underline;
}