#topbar {
    height: 100px;
    font-size: 14px;
    transition: all 0.5s;
    z-index: 996;
    margin-bottom: 200px;
}

#topbar.topbar-scrolled {
    top: -100px;
}

#topbar .contact-info i {
    font-style: normal;
    color: #000 !important;
}

#topbar .contact-info i span a{
    padding-left: 5px;
    color: #000 !important;
}