body {
  font-family: 'Roboto', serif  !important;
  background: #f9f9f9;
  color: #132c5d;
}

a {
  color: antiquewhite;
  text-decoration: none !important;
}

a:hover {
  color: antiquewhite;
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sriracha', serif;
}

body::-webkit-scrollbar {
  display: none;
}


/* Section */

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: rgb(0, 0, 59);
}